<div class="row">
    <div id="reserve-container" class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h1>麻雀しますか？</h1>
            </div>
            <div class="card-block">
                <h2>現在の人数: {{count}}人</h2>
            </div>
            <div class="card-footer">
                    <button id="reserve" name="reserve" class="btn btn-primary" (click)="reserve()">予約する</button>
                    <button class="btn btn-outline">予約しない</button>
                    <button id="cancel" name="cancel" class="btn btn-warning" (click)="cancel()">キャンセルする</button>
            </div>
        </div>
    </div>
</div>