<!-- <h1>Laravel 5.4 with Angular 4</h1> -->

<!-- <button class="btn btn-primary">Primaryyyyyyyy</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-danger" disabled>Disabled</button>
<button class="btn btn-outline">Regular</button>
<button class="btn btn-success-outline">Success-Outline</button>
<button class="btn btn-info-outline">Info</button>
<button class="btn btn-warning-outline">Warning</button>
<button class="btn btn-danger-outline">Danger</button>
<button class="btn btn-outline" disabled>Disabled</button>
<script src="{{asset('js/custom-elements.min.js')}}"></script>
<script src="{{asset('js/clarity-icons.min.js')}}"></script> -->

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h1>麻雀しますか？</h1>
            </div>
            <div class="card-block">
                <h2>現在の人数: {{count}}人</h2>
            </div>
            <div class="card-footer">
                    <button id="reserve" name="reserve" class="btn btn-primary" (click)="reserve()">予約する</button>
                    <button class="btn btn-outline">予約しない</button>
                    <button id="cancel" name="cancel" class="btn btn-primary" (click)="cancel()">キャンセルする</button>
            </div>
        </div>
    </div>
</div>
